<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Account Reminder</title>
    <meta name="description" content="User Password Email"/>
    <style th:replace="fragment/email_style :: style"></style>
</head>

<body>
<!--100% body table-->
<table class="outer-table" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table
                class="inside-table"
                align="center"
                cellpadding="0"
                cellspacing="0"
            >
                <tr>
                    <td height="80px">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div>
                            <img
                                src="https://res.cloudinary.com/stefanphoto/image/upload/v1667215623/logo_wwckx6.svg"
                                alt="logo"
                            />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table
                            class="inner-table"
                            align="center"
                            cellpadding="0"
                            cellspacing="0"
                        >
                            <tr>
                                <td height="40px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding: 0 35px">
                                    <h1>Hello
                                        <th:block th:text="${fullName}"></th:block>
                                    </h1>
                                    <span></span>
                                    <p class="welcome-message">
                                        We kindly remind you that on
                                        <th:block th:text="${creationDate}"></th:block>
                                        you received an email with
                                        activation instructions for the Progreso platform,
                                        but until today you have not done the activation.
                                    </p>
                                    <a href="http://xprmnt.xyz/welcome" class="button">Log in</a>
                                </td>
                            </tr>
                            <tr>
                                <td height="40px">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <p class="copyright">
                            &copy; <strong>www.primeholding.com</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td height="80px">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>
